:root{
    --background-color:black;
    --background-color2: rgba(51, 48, 48, 0.199);
    --text-color1: #edf6f9;
    --text-color2: #bb6b00;
    --text-color3: #e8985e;
    --background-color3: rgba(232, 152, 94, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: var(--text-color1);
    text-align: center;
    font-family: "DM Serif Text", serif;
    letter-spacing: 1px;
}

h1, h2, h3 {
    font-family: "Bebas Neue", serif;
    letter-spacing: 3px;
}

h2{
    padding: 20px;
    color: var(--text-color3);
    font-size: 35px;
}

h3{
    margin: 35px;
    background-color: var(--background-color3);
}


#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
    box-sizing: border-box; /* Padding won't cause overflow */
    font-size: 20px;
}

#logo-container {
    display: flex;
    align-items: flex-end;
}

#header-img {
    height: 40px; 
    margin-right: 10px;
}


#page-title {
    color: white;
    font-size: 30px; 
    margin: 0;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-bar ul > li {
    margin-left: 20px;
    padding: 14px 0;
}

a {
    color: var(--text-color2);
    text-decoration: none;
}

a:hover {
    color: #ffa31a;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#video{
    width: 100%;
    max-height: 90vh;
    object-fit: cover; /* Ensures the video scales correctly without distorting */
}

#video-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(20%, -55%);
    font-size: 5vw;
    text-align: left;
}

section {
    scroll-margin-top: 175px;
  }

/*Home section*/
#home{
    background-color: var(--background-color);
}

#home > p{
    color: white;
    padding: 10%;
    line-height: 30px;
}

/* Features */
#features {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 20px;
}

.griditem{
    padding: 20px;
    height: 100%;
    max-height: 400px;
    background-color: var(--background-color2);
}


#features img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
}

/* Packages */
#pricing{
    margin: 5px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.subbox{
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    background-color: var(--background-color2);
    text-align: center; 
}

.subbox h4{
    margin-bottom: 10px;
    padding: 2px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--background-color3);
}

.price{
    font-size: 40px;
}

.package-underline{
    border: 1px solid var(--text-color3);
    margin: 10px;
}

.pricing_list {
    margin: 10%;
}

.pricing_list li {
    margin-bottom: 5px;
}

#submit {
    background-color: #4b3621;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #6f4e37;
}


/* subscribe */
#subscribe {
    padding: 50px 20px;
    background-color: var(--background-color2);
    color: var(--text-color1);
}

#form {
    max-width: 500px;
    margin: 0 auto;
}

#email {
    width: 50%;
    padding: 10px;
    margin: 20px;
    border: 1px solid var(--text-color1);
    border-radius: 5px;
}

/* footer */
    footer{
        padding: 20px;
    }

    hr{
        margin: 10px;
    }

    .footer-items {
        display: flex;
        gap: 20px;
    }


/*MOBILE RESPONSIVE SCREEN */
@media (max-width: 768px) {
    nav {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }
      
    nav ul {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
    }

    section {
        scroll-margin-top: 200px; /* Adjust this value based on your navbar height */
      }

    .video-container {
        width: 100%;
        max-height: 800px;
        margin: 0 auto;
    }
      
    video {
        width: 100%;
        height: auto;
        padding-top: 100px;
    }
      

    #video-txt{
        position: absolute;
        top: 80%;
        left: 60%;
        transform: translate(10%, -55%);
        font-size: 5vw;
        text-align: left;
    }

    #features {
        display: block; /* Default block layout */
        padding: 20px;
    }

    .griditem {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .mobile-image1 {
        height: auto;
        max-height: 150px;
        padding: 0;
    }

    .mobile-image2 {
        display: none;
        padding: 0;
    }

    /**pricing/subscription area*/

    #pricing{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 20px;
    }

    .footer-items {
        display: flex;
        justify-content: center;
    }
}
