:root{
    --background-color:black;
    --background-color2: rgba(51, 48, 48, 0.199);
    --text-color1: #edf6f9;
    --text-color2: #bb6b00;
    --text-color3: #e8985e;
    --background-color3: rgba(232, 152, 94, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: var(--text-color1);
    text-align: center;
    font-family: "DM Serif Text", serif;
    letter-spacing: 1px;
}

h1, h2, h3 {
    font-family: "Bebas Neue", serif;
    letter-spacing: 3px;
}

h2{
    padding: 20px;
    color: var(--text-color3);
    font-size: 30px;
}

h3{
    margin: 30px;
    background-color: var(--background-color3);
}


#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
    box-sizing: border-box; /* Padding won't cause overflow */
}

#logo-container {
    display: flex;
    align-items: flex-end;
}

#header-img {
    height: 40px; 
    margin-right: 10px;
}


#page-title {
    color: white;
    font-size: 30px; 
    margin: 0;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-bar ul > li {
    margin-left: 20px;
    padding: 14px 0;
}

a {
    color: var(--text-color2);
    text-decoration: none;
}

a:hover {
    color: #ffa31a;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#video{
    width: 100%;
}

#video-txt{
    position: absolute;
    top: 150px;
    right: 10px;
    color: white;
    font-size: 30px;
}

/*Home section*/
#home{
    background-color: var(--background-color);
}

#home > p{
    color: white;
    padding: 10%;
    line-height: 30px;
}

/* Features */
#features {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 20px;
}

.griditem{
    padding: 20px;
    height: 100%;
    max-height: 300px;
    background-color: var(--background-color2);
}


#features img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
}

/* Packages */
#pricing{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.subbox{
    padding: 20px;
    border: 1px solid rgba(88, 67, 8, 0.123);
    background-color: var(--background-color2);
    box-shadow: 0 4px 6px rgba(112, 85, 36, 0.322); 
    text-align: center; 
}

.subbox h4{
    margin-bottom: 10px;
    padding: 2px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--background-color3);
}

.price{
    font-size: 40px;
}

.package-underline{
    border: 1px solid var(--text-color3);
    margin: 10px;
}

.pricing_list {
    margin: 10%;
}

.pricing_list li {
    margin-bottom: 5px;
}

button {
    background-color: #4b3621;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6f4e37;
}


/* subscribe */

#subscribe{
    padding: 50px;
    margin: 10px;
    text-align: center;
}

#form{
   text-align: center;
   padding: 10px;
}

/* footer */
footer{
    margin: 20px;
    text-align: right;
}

.footer-items{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.footer-items> p> a{
    color: #cccccc;
}

.footer-items> p> a:hover{
    color: #ffbb66;
}